@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(to right, #00004d,#000033);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__container {  
    background-color: white;
    width: 35rem;
    height: 40rem;
    border-radius: 2.5rem;
    box-shadow: 10px 10px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__header{
    margin-top: 2rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#listTitle {
    height: 4rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid black;
    color: #b3b3b3;
    transition: color 0.1s ease-in-out;
}

#listTitle.entered__title {
    color: black;
}

#listTitle::placeholder {
    font-weight: 100;
    color: #e6e6e6;
}

.warning__message {
    color: red;
    height: 1rem;
}

