@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background: linear-gradient(to right, #09203F, #537895);
    height: 100vh;
}


#listContainer{
    height: 100%;
    width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#listTitle {
    background-color: #64CCC5;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listTitleInput {
    width: 60%;
    height: 50%;
    text-align: center;
    font-size: 2rem;
    background: none;
    border: none;
    outline: none;
    font-weight: 500;
    color: white;
}

#listTitleInput::placeholder {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);

}

#listTasks {
    padding: 2rem 0 5rem 0;
    background-color: #DDF2FD;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
}

#listTasks::-webkit-scrollbar {
    width: 5px;
}

#listTasks::-webkit-scrollbar-thumb {
    background-color: #176B87;
}

#listTasks::-webkit-scrollbar-track {
    background-color: #DDF2FD;
}


#addTask {
    width: 15rem;
    margin: 0 auto;
    height: 5rem;
    font-size: 2rem;
    background-color: #64CCC5;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    position: relative;
    top: -75px;
    transition: transform 0.2s ease-in-out;
}

#addTask:hover {
    transform: translateY(-5px);
}

#task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    padding: 1rem 1rem;
    border-radius: 5px;
}


#checkbox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#checkbox:hover {
    transform: translateY(-8px);
}

#taskContent {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    border: none;
    background-color: white;
}


#taskName {
    padding: 0 1rem;
    width: 12rem;
    height: 2rem;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    font-size: 1.25rem;
    border-radius: 10px;
    color: rgba(4, 54, 74, 0.2);
}

#taskName.entered {
    color: rgb(4, 54, 74);
    background-color: transparent;
}

#deleteButton {
    width: 2rem;
    height: 2rem;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

#deleteButton:hover {
    background-color: lightgrey;
}










