@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background: linear-gradient(to right, #09203F, #537895);
    height: 100vh;
}


#listContainer{
    height: 100%;
    width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#list {
    width: 30rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #05BFDB, #00FFCA);
}

#listTitleContainer {
    height: 18rem;
    width: 100%;
}

#listTitleItems{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#listTitle {
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 0 1rem;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

#listTitle.entered {
    color: rgba(255, 255, 255, .9)
}

#listTitle::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

#charCount {
    margin-left: .25rem;
    color: rgba(255, 255, 255, 0.4);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#charCount.hidden {
    visibility: hidden;
    opacity: 0;
}

#listTasksContainer {
    height: 100%;
    width: 100%;
    background-color: yellow;
}








