<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Notes</title>
  </head>
  <body>
    <h1>Hello User!</h1>
    <h2>Welcome to Simple Notes</h2>
    <form action="/home" method="post">
      <input type="text" name="username" placeholder="Enter your name here" />
      <button type="submit">Get Started</button>
    </form>
  </body>
</html>
